@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');

:root{
    --green : #128737;
    --error : #F87171
}

* {
    font-family: "Special Gothic", sans-serif;
}